$footer_height: 50px;

html, body {
    height:100%;

    #wrap {
        min-height: 100%;
        height: auto !important;
        margin-bottom: -$footer_height;
    }

    #main {
        overflow:auto;
        padding-bottom: $footer_height + 50px;
    }

    footer {
        height: $footer_height;
        .chrome-extension {
//            display: inline-block;
            float: right;
            font-weight: bold;
        } 
    }
}

section {
    h2, h3 {
        margin-top: 0px;
        line-height: 0.6;
    }
}

nav, .alert {
    a {
        cursor: pointer;
    }
}

// bootswatch theme overrides

.btn {
    padding: 8px 12px;
}

.btn-toolbar {
    .btn, .btn-group, .input-group {
        margin-left: 0px;
    }
}

.glyphicon {
  font-family: 'Glyphicons Halflings' !important;
}

@mixin animation($type, $time, $duration, $direction){
  -webkit-animation: $type $time $duration $direction;
  -moz-animation: $type $time $duration $direction;
  -o-animation: $type $time $duration $direction;
  animation: $type $time $duration $direction;
}

@mixin transform-origin($left, $right){
  -webkit-transform-origin: $left $right;
  transform-origin:$left $right;
  -ms-transform-origin:$left $right; /* IE 9 */
}

.spin {
    @include animation(spin, 1s, infinite, linear);
    @include transform-origin(50%, 58%);
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
